<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{~/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{~/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
</head>
<body>

<p>聊天室</p>
<form id="wiselyForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <br />
    <input type="button" value="send" onclick="send()"/>
    <input type="button" value="sendUser" onclick="sendUser()"/>
</form>

<div>
    <input type="text" id="name"/>
    <input type="button" id="setName" value="设置名称"/>
</div>
<div>
    <input type="button" id="start" value="开启连接" onclick="connect()"/>
    <input type="button" id="stop" value="关闭连接"/>
</div>

<div id="output"></div>


<script th:src="@{~/jquery/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{~/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{~/js/sockjs.min.js}" type="text/javascript"></script>
<script th:src="@{~/js/stomp.min.js}" type="text/javascript"></script>
<script th:inline="javascript">

    var username = "";
    var stomp = null;

    function connect() {
        var sock = new SockJS("http://localhost:3560/stomp");//连接到endpointChat节点
        stomp = Stomp.over(sock);
        stomp.connect('guest', 'guest', function (frame) {
            //订阅消息
            stomp.subscribe('/topic/send', handleNotification);
            stomp.subscribe('/topic/answer', handleNotification);
            stomp.subscribe('/user/queue/sendUser', handleNotification);
            stomp.subscribe('/user/queue/answer', handleNotification);
            //stomp.subscribe('/user/' + username + '/topic/sub', handleNotification);
        });
    }

    function handleNotification(message) {
        $('#output').append("<b>Received: " + message.body + "</b><br />");
    }

    function send() {
        var text = $('#wiselyForm').find('textarea[name="text"]').val();
        stomp.send("/app/send", {}, text);
    }

    function sendUser() {
        var text = $('#wiselyForm').find('textarea[name="text"]').val();
        stomp.send("/app/sendUser", {}, text);
    }

    $('#stop').click(function () {
        stomp.disconnect();
    });

    $('#setName').click(function() {
       username = $('#name').val();
    });


</script>
</body>
</html>